# Virtual environment
venv/

# Python cache
__pycache__/

# Data Files
data/

# IDE settings
.vscode/
.idea/
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/

# Kaggle API key
kaggle.json.DS_Store
